<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Game Day</th>
    <th>Opponents</th>
    <th>Result</th>
  </tr>
  <tr>
    <td><%= format_date(@game.game_date) %></td>
    <td><%= @game.home.name %> : <%= @game.away.name %></td>
    <td><%= @game.goals_home %> : <%= @game.goals_away %></td>
  </tr>
</table>


<table>
<tr>
  <th></th>
  <th></th>
  <th>Lastname</th>
  <th>Firstname</th>
</tr>
<% unless @players.nil? %>
<% @players.each do |player|  %>
  <tr>
  <%  
    game_member = player.game_members.find_by_game_id(@game)
    begin
      player.games.find(@game) %>
       <td><%= button_to 'Remove', game_member_path(game_member), 
			:method => :delete %></td>
			<% unless game_member.is_driver  %>
	   			<td><%= button_to 'Is Driver',
						switch_is_driver_game_member_path(game_member)				
					%>
				</td>
			<% else %>
				<td><%= button_to 'No Driver',
					switch_is_driver_game_member_path(game_member)	
					 %>
				</td>
			<% end %>
			
   <% rescue ActiveRecord::RecordNotFound  %>
        <td><%= button_to 'Add', game_members_path(:player_id => player, 
													:game_id => @game)%></td>
		<td></td>
   <% end %>
  
    <td><%=player.lastname %></td>
    <td><%=player.firstname %></td>
  </tr>
<% end %>
<% end %>
</table>
<%= button_to 'Calculate Bonus', calc_bonus_game_path(@game) %> |

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
