<p id="notice"><%= notice %></p>

<p>
  <b>Lastname:</b>
  <%= @player.lastname %>
</p>

<p>
  <b>Street:</b>
  <%= @player.street %>
</p>

<p>
  <b>Zip code:</b>
  <%= @player.zip_code %>
</p>

<p>
  <b>City:</b>
  <%= @player.city %>
</p>

<p>
  <b>Phone:</b>
  <%= @player.phone %>
</p>

<p>
  <b>Mobile:</b>
  <%= @player.mobile %>
</p>

<p>
  <b>Birthday:</b>
  <%= format_date(@player.birthday) %>
</p>

<p>
  <b>Size pants:</b>
  <%= @player.size_pants %>
</p>
<p>
  <b>Gets Refund</b>
  <%= @player.gets_refund %>
</p>
<p>
  <b>Distance</b>
  <%= @player.distance %>
</p>

<%= link_to 'Edit', edit_team_player_path(@team, @player) %> |
<%= link_to 'Back', team_players_path %>
